---
---

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/reviews">Reviews</a>
    <a href="/compares">Compares</a>
    <a href="/guides">Guides</a>
    <a href="/about">About</a>
  </nav>
</header>